
@import "./../variables.less";


.points {
    color: #333;
    .one {
        min-height: 180px;
        box-shadow:@card-box-shadow;
        padding:30px;
        border-radius: 20px;
        background:#fff;
        width: 100%;
        .t {
            font-size: 18px;
            font-weight: bold;
            text-align: left;
            display: flex;
            align-content: center;
            justify-content: flex-start;
            margin-bottom: 15px;
            .icon {
                display: flex;
                align-items:center;
                margin-right: 0.5rem;
            }
        }
        .i {
            text-align: left;
            color: @black-color-2;
        }
    }
}

.block1 {
    text-align: center;
    padding:80px 0;
    h1 {
        font-size: 48px;
        line-height: 1.2;
        color: @black-color;
        font-weight:bold;
        max-width: 750px;
        margin:0 auto 50px;
    }
    font-size: 16px;
    .icon_wapper {
        margin:40px 0;
    }
}
.pixelschain_banner {
    color: @black-color;
    background:url('/img/coming/pixelschain_bg.png') -15px -15px repeat;
    width: 760px;
    margin:50px auto;    
    display: flex;
    justify-content: space-between;
    border-radius:20px;
    overflow: hidden;
    filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.06));

    .left {
        flex-grow: 0;
        flex-shrink:0;
        padding:48px;
    }
    .right {
        color: #fff;
        display: flex;
        padding:10px 40px 10px 0;
        flex-direction: column;
        justify-content: center;
        .t1 {
            font-family: Poppins;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
            margin-bottom: 10px;
        }
        .pixelbutton {
            background: #BA12E3;
            box-shadow: 0px 6px 0px #9508B9;
            border-color:#BA12E3;
            border-radius: 10px;
            font-family: Poppins;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #FFFFFF;
        }
    }
}
.block2 {
    text-align: center;
    padding:40px 0;
    color: @black-color;
    background:url('/img/coming/bg.svg') right bottom no-repeat;
    h1 {
        font-size: 32px;
        margin-bottom: 40px;
        display: flex;
        align-items:center;
        justify-content: center;
        color: @black-color;
        font-family: Poppins;
    }
    .notice {
        h2 {
            font-family: Poppins;
            font-weight:700;
        }
    }

    .step {
        display: flex;
        justify-content: space-between;
        width: 760px;
        margin:60px auto;
        .step_l {
            text-align: left;
            flex-shrink: 1;
            flex-grow: 1;
            margin-right: 40px;
        }
        .step_r {
            width: 400px;
        }
        h2 {
            margin-bottom: 12px;
        }
        .step_n {
            font-weight: bold;
            font-size: 20px;
            line-height: 30px;
            color: @black-color;

        }
        .step_n1 {
            text-shadow: 4px 4px 0px #FFE7D6;
        }
        .step_n2 {
            text-shadow: 4px 4px 0px #C8FEF1;
        }
        .step_n3 {
            text-shadow: 4px 4px 0px #C5EAFF;
        }
        .airdophelp {
            p {
                margin-bottom: 0.25rem;
                color: @black-color-2;
                font-size: 14px;
                line-height: 1.25;
            }
        }
        textarea {
            background: #f8f8f8;
            margin-bottom: 15px;
        }
        .row_2 {
            margin-bottom: 15px;
        }
        .row_1 {
            display: flex;
            justify-content: space-between;
            margin:0 -10px;
            button {
                margin:0 10px;
            }
        }
    }
    .notice {
        background: #ECF0F6;
        border-radius: 20px;
        width: 760px;
        margin:60px auto;
        padding:30px;
        p {
            text-align: left;
            font-size: 16px;
            color: @black-color-2;
            margin-bottom: 0.24rem;
        }
    }
    .title_icon {
        display: flex;
        align-items:center;
        margin-right: 1rem;
    }
    .box {
        text-align: center;
        background: #fff;
        box-shadow:@card-box-shadow2;
        // box-shadow: 0 0 10px #ccc;
        width:500px;
        max-width:95%;
        margin:0 auto;
        padding:20px 20px;
        border-radius: 12px;
    }
    .box2 {
        a {
            margin-bottom: 15px;
        }
        a:last-child {
            margin-bottom: 0;
        }
    }
    .address {
        width: 100%;
        margin-right: 12px;
        margin-bottom: 12px;
    }
    .recaptcha {
        margin-bottom: 12px;
        display: flex;
        justify-content: center;
    }
    
    
}
.center_notice2 {
    text-align: center;
    font-size: 16px;
    opacity: 0.4;
    margin:20px 0 0 0;
}
.center_notice {
    text-align: center;
    font-size: 16px;
    margin:20px 0;
}


.joinin {
    display: flex;
    justify-content: center;
    align-items:center;
    a,button {
        margin:0 10px;
    }
}
.airdop_saved {
    box-shadow:@card-box-shadow2;
    border-radius:20px;
    width: 400px;
    max-width: 90%;
    margin:0 auto;
    padding:25px 30px;
    .icon {
        display: flex;
        align-items:center;
        margin-right: 6px;
    }
    .t1 {
        font-family: Poppins;
        font-weight: bold;
        font-size: 20px;
        color: #2DCC8E;
        display: flex;
        justify-content: flex-start;
        align-items:center;
        margin-bottom: 10px;
    }
    .t2 {
        text-align: left;
        color: @black-color-2;
    }
}
.finished {
    display: flex;
    justify-content: center;
    align-items:center;
    background:#371993;
    border-radius:30px;
    padding:6px 0;
    .inner {
        display: flex;
        justify-content: center;
        align-items:center;
        font-size: 16px;
        // background-color: @success-color;
        color: #fff;
        padding:6px 12px;
        border-radius:50px;
        margin:0 auto;
        opacity: 0.5
    }
    span {
        margin-left: 6px;
    }
}

.modal_extra_title {
    color: #FFD80A;
    font-size: 18px;
    font-weight: bold;
    font-family: Poppins;
}

.h2 {
    text-align: left;
    font-size: 16px;
    color:#fff;
    margin-bottom: 20px;
}

.copied {
    text-align: center;
    padding:10px;
    max-width: 250px;
    .t1 {
        display: flex;
        justify-content: center;
        align-items:center;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom:1px solid #eee;
    }
    .t2 {
        font-size: 14px;
    }
}


@media (max-width: 600px) {
    .block1 {
        padding:40px 0 0 0;
        border-bottom:none;
        h1 {
            font-size: 34px;
            margin-bottom: 20px;
        }
        .icon_wapper {
            margin:12px 0;
        }
        .points {
            display: none;
            .one {
                min-width: 100%;
                margin-bottom: 10px;
                height: auto;
                min-height: auto;
            }
        }
    }
    .block2 {
        padding:40px 0;
        border-bottom:1px solid #ccc;
        h1 {
            font-size: 20px;
            margin-bottom: 20px;
            text-align: left;
            justify-content: flex-start;
            flex-direction: column;
            font-size: 24px;
            line-height: 34px;
            text-align: center;
            margin:0 40px;
            font-weight: 700;
            .title_icon {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }
        h2 {
            font-size: 18px;
        }
        .icon_wapper {
            margin:12px 0;
        }
        .points {
            .one {
                min-width: 100%;
                margin-bottom: 10px;
            }
        }
        .step {
            flex-direction: column;
            width: 100%;
            .step_l {
                margin-right: 0;
                margin-bottom: 20px;
            }
            .step_r {
                width: 100%;
            }
            .step_n {
                text-align: center;
            }
            h2 {
                text-align: center;
            }
            .airdophelp {
                margin:0 20px;
                font-size: 14px;
                color: @black-color-2;
            }
        }

        .notice {
            width: 100%;
        }
    }
    .pixelschain_banner {
        flex-direction: column;
        width: 100%;
        padding:20px 0;
        .left {
            margin:0;
            padding:20px 0;
            text-align:center;
        }
        .right {
            padding:0 20px;
        }
    }
}