
@import "./../variables.less";


.points {
    color: #333;
    .one {
        min-height: 180px;
        box-shadow:@card-box-shadow;
        padding:30px;
        border-radius: 20px;
        background:#fff;
        width: 100%;









        .t {
            font-size: 18px;
            font-weight: bold;
            text-align: left;
            display: flex;
            align-content: center;
            justify-content: flex-start;
            margin-bottom: 15px;
            .icon {
                display: flex;
                align-items:center;
                margin-right: 0.5rem;
            }
        }
        .i {
            text-align: left;
            color: @black-color-2;
        }
    }
}

.block1 {
    text-align: center;
    padding:80px 0;
    h1 {
        font-size: 48px;
        line-height: 1.2;
        color: @black-color;
        font-weight:bold;
        max-width: 750px;
        margin:0 auto 50px;
    }
    font-size: 16px;
    .icon_wapper {
        margin:40px 0;
    }
}

.block2 {
    text-align: center;
    padding:40px 0;
    color: @black-color;
    background:url('/img/coming/bg.svg') right bottom no-repeat;
    h1 {
        font-size: 32px;
        margin-bottom: 40px;
        display: flex;
        align-items:center;
        justify-content: center;
        color: @black-color;
    }
    
    .step {
        display: flex;
        justify-content: space-between;
        width: 760px;
        margin:60px auto;
        .step_l {
            text-align: left;
            flex-shrink: 1;
            flex-grow: 1;
            margin-right: 40px;
        }
        .step_r {
            width: 400px;
        }
        h2 {
            margin-bottom: 12px;
        }
        .step_n {
            font-weight: bold;
            font-size: 20px;
            line-height: 30px;
            color: @black-color;

        }
        .step_n1 {
            text-shadow: 4px 4px 0px #FFE7D6;
        }
        .step_n2 {
            text-shadow: 4px 4px 0px #C8FEF1;
        }
        .step_n3 {
            text-shadow: 4px 4px 0px #C5EAFF;
        }
        .airdophelp {
            p {
                margin-bottom: 0.25rem;
                color: @black-color-2;
                font-size: 14px;
                line-height: 1.25;
            }
        }
    }
    .notice {
        background: #ECF0F6;
        border-radius: 20px;
        width: 760px;
        margin:60px auto;
        padding:30px;
        p {
            text-align: left;
            font-size: 16px;
            color: @black-color-2;
            margin-bottom: 0.24rem;
        }
    }
    .title_icon {
        display: flex;
        align-items:center;
        margin-right: 1rem;
    }
    .box {
        text-align: center;
        background: #fff;
        box-shadow:@card-box-shadow2;
        // box-shadow: 0 0 10px #ccc;
        width:500px;
        max-width:90%;
        margin:0 auto;
        padding:20px 20px;
        border-radius: 12px;
    }
    .box2 {
        a {
            margin-bottom: 20px;
        }
        a:last-child {
            margin-bottom: 0;
        }
    }
    .address {
        width: 100%;
        margin-right: 12px;
        margin-bottom: 12px;
    }
    .recaptcha {
        margin-bottom: 12px;
        display: flex;
        justify-content: center;
    }
    
    
}
.center_notice2 {
    text-align: center;
    font-size: 16px;
    opacity: 0.4;
    margin:20px 0 0 0;
}
.center_notice {
    text-align: center;
    font-size: 16px;
    margin:20px 0;
}

.h2 {
    text-align: center;
    font-size: 18px;
    color:#fff;
    margin-bottom: 20px;
}
.joinin {
    display: flex;
    justify-content: center;
    align-items:center;
    a {
        margin:0 10px;
    }
}
.airdop_saved {
    box-shadow:@card-box-shadow2;
    border-radius:20px;
    width: 400px;
    max-width: 90%;
    margin:40px auto;
    padding:40px 15px;
    .address {
        margin:20px 0 0 0 ;
        font-size: 12px;
    }
    .nst {
        margin:14px 0;
        font-size: 18px;
        font-weight: bold;
        color:#000;
    }
}
.finished {
    display: flex;
    justify-content: center;
    align-items:center;
    .inner {
        display: flex;
        justify-content: center;
        align-items:center;
        font-size: 16px;
        background-color: @success-color;
        color: #fff;
        padding:6px 12px;
        border-radius:50px;
        margin:0 auto;
    }
    span {
        margin-left: 6px;
    }
}

@media (max-width: 600px) {
    .block1 {
        padding:40px 0;
        border-bottom:1px solid #ccc;
        h1 {
            font-size: 20px;
            margin-bottom: 20px;
        }
        .icon_wapper {
            margin:12px 0;
        }
        .points {
            .one {
                min-width: 100%;
                margin-bottom: 10px;
            }
        }
    }
    .block2 {
        padding:40px 0;
        border-bottom:1px solid #ccc;
        h1 {
            font-size: 20px;
            margin-bottom: 20px;
            text-align: left;
            justify-content: flex-start;
        }
        .icon_wapper {
            margin:12px 0;
        }
        .points {
            .one {
                min-width: 100%;
                margin-bottom: 10px;
            }
        }
        .step {
            flex-direction: column;
            width: 100%;
            .step_l {
                margin-right: 0;
                margin-bottom: 20px;
            }
            .step_r {
                width: 100%;
            }
        }
        .notice {
            width: 100%;
        }
    }
}