.language_list {
    ul {
        li {
            a {
                padding:6px 15px;
                align-items: center;
            }
            border-bottom:1px solid #eee;
        }
        li:last-child {
            border: none;
        }
    }
}
.flag {
    margin-right: 12px;
    display: flex;
    border:1px solid #3E2EAF;
    align-items: center;
    border-radius:4px;
    overflow: hidden;
}
.language_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    padding:4px 24px;
    color: #2F3442;
}