.n1s_btn {
    background: linear-gradient(90deg, #2DCC8E 0%, #45A8FF 100%);
    border-radius: 100px;
    border-radius: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    color: #fff;
    border:none;
    height: 40px;
    align-items: center;
    &:hover,
    &:active,
    &:focus {
        background: linear-gradient(90deg, #2DCC8E 0%, #45A8FF 100%);
        color: #fff;
        border:none;
    }
    .amount {
        margin-left: 12px;
        margin-right: 6px;
    }
}