@import "./variables.less";

.search_box_wrapper {

}
.search_box_content {
    margin:0 -20px;
}
.token_btn {
    font-size: 20px;
    font-weight: 500;
    background-color: #fafafa;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: none;
    padding:0px 0.5rem;
    height: 2.2rem;
    border-radius: 12px;
    align-items:center;
    justify-content: space-between;
    display: flex;
    flex-shrink:0;
    flex-grow: 1;
}
.token_btn:hover {
    background: #eee;
}

.token_name {
    margin: 0px 0.25rem 0px 0.75rem;
    font-size: 20px;
    color: #000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.token_btn .arrow {
    display: flex;
    color: #000;
    align-items: center;
}

.token_btn_icon {
    margin-right: 12px;
}

.token_icon {
    margin-right: 12px;
    display: flex;
    align-items:center;
}



.swap_wrapper {
    padding-bottom:160px;
}
.box_wrapper {
    position: relative;
    max-width: 420px;
    width: 100%;
    background: rgb(255, 255, 255);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
    border-radius: 30px;
    margin:0 auto;
}

.box_gray_footer {
    max-width: 420px;
    width: 100%;
    background: rgba(233, 238, 244, 0.5);
    border-radius: 30px;
    // margin:0 auto;
    // margin-top:-30px;
    padding:60px 30px 15px 30px;
    position:absolute;
    z-index: 10;
    dl {
        display: flex;
        justify-content: space-between;
        margin:8px 0;
        dt,dd {
            color: @black-color-2;
            margin:0;
            font-weight: normal;
            font-size:14px;
        }
    }
}




.box_wrapper .box_head {
    padding: 1rem 1.75rem 0px 1.75rem;
    margin-bottom: -4px;
    width: 100%;
    max-width: 420px;
    color: rgb(86, 90, 105);
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.box_wrapper .box_head .title {
    margin: 0px;
    min-width: 0px;
    font-weight: 500;
    color: #000;
    text-transform: capitalize;
    .sub {
        font-size: 12px;
        color: #999;
        font-weight:normal;
    }
}
.box_wrapper .box_head {
    .nav,
    .tool {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 36px;
        line-height: 36px;
        a {
            display: flex;
            align-items: center;
            color:#888;
        }
        a:hover {
            color: #aaa;
        }
    }
    .tool {
        margin-left: 10px;
    }
    .nav {
        margin-right: 10px;
    }
} 


.box_wrapper {

    .box_content_top {
        padding:1.25rem 1.75rem 1.75rem 1.75rem;
        position:relative;
        z-index: 100;
        background:#fff;
        border-radius: 0 0 30px 30px;
    }

    .box_content_top2 {
        padding-bottom: 0;
    }

    .box_content_mid {
        padding:1.75rem 1.75rem 0 1.75rem;
    }


    .box_content_mid2 {
        padding:0 1.75rem 0 1.75rem;
    }

    .box_content_footer {
        padding:0 1.75rem 0.5rem 1.75rem;
    }
    .footer_text {
        text-align: center;
        a {
            margin-left: 12px;
            color: #3E2EAF;
        }
    }
}

.box_form .box_from_input {
    border-radius: 12px;
    border: 1px solid rgb(247, 248, 250);
    background-color: rgb(255, 255, 255);
    background: #fafafa;
    border:1px solid #F0F0F0;
    .box_title {
        display: flex;
        justify-content: space-between;
    }
    .balance {
        padding: 0.75rem 1rem 0px;
        font-size: 14px;
        color: #595D68;
    }
}

.box_footer {
    margin-top:2.5rem;
}


.box_form .box_from_input h3{
    margin: 0px;
    display: flex;
    font-size: 0.75rem;
    line-height: 1rem;
    padding: 0.75rem 1rem 0px;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 14px;
    color: rgb(86, 90, 105);
}

.box_form .currency_input {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 6px 12px;
}
.box_form.box_find .currency_input {
    padding:0;
    .token_btn {
        padding:8px 12px;
        height: auto;
    }
}

.box_form .to {
    text-align: center;
    margin:20px 0;
    .to_icon {
        background: #ECF0F6;
        border-radius: 50%;
        margin:0 auto;
        display:inline-block;
        width: 25px;
        height: 25px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    svg {
        fill:#3E2EAF;
    }
}

.liquidity_list {
    .liquidity_head {
        display: flex;
        justify-content: flex-start;
        align-items:center;
    }
    h3 {
        margin-bottom: 0;
        margin-right:12px;
    }
}

.unlogin_box {
    padding:20px 0;
    text-align: center;
    color: #aaa;
}

.gray_box {
    padding:0 0 1rem 0;
    .empty{
        padding:20px 0;
        background: #FAFAFA;
        border: 1px solid #F0F0F0;
        text-align: center;
        color: #aaa;
        border-radius:12px;
        color: #999;
    }
    p {
        margin-bottom: 0;
        a {
            color: @primary-color;
        }
    }
}

.liquidity_pool_info {
    border: 1px solid #F0F0F0;
    border-radius: 12px;
    padding:10px 15px;
    margin-top:30px;
    h2 {
        font-size: 16px;
        color: @black-color;
    }
    dl {
        display: flex;
        justify-content: space-between;
        margin:5px 0;
        font-size:14px;
        dt {
            font-weight: normal;
            margin-bottom: 0;
        }
        dd {
            margin-bottom: 0;
        }
    }
}

.notice {
    background: #3E2EAF;
    border-radius: 12px;
    color: #fff;
    padding:20px;
    margin-top:30px;
    h3 {
        color: #fff;
        font-size: 16px;
    }

    p {
        margin-bottom: 0;
        font-size:14px;
    }
}

.box_lptoken {
    &:extend(.border-box);
    h3 {
        color: @black-color;
        font-size:16px;
        margin-bottom: 20px;
        padding-bottom:0; 
        text-transform:capitalize;
    }
    .amount_input {
        &:extend(.gray-input);
        font-size: 24px;
        font-weight: 500;
        color: #000;
    }
    .controller {
        .slider {
            margin:30px 0;
        }
        .quickbtn {
            display: flex;
            justify-content: space-between;
            margin:0 -10px;
            a {
                flex-grow: 1;
                text-align: center;
                background: #ECF0F6;
                border-radius: 6px;
                font-size: 14px;
                color: @black-color;
                border: 2px solid #fff;
                padding:5px 10px;
                margin:0 10px;
                &:hover {
                    color: #3E2EAF;
                    border: 2px solid #3E2EAF;
                }

            }
        }
    }
}
.box_result {
    &:extend(.border-box);
    padding:3px 15px;
}
dl.token {
    display: flex;
    justify-content: space-between;
    margin:12px 0;
    font-size: 16px;
    color: @black-color;
    dt {
        display: flex;
        justify-content: flex-end;
        align-items:center;
        .tokenicon {
            display: flex;
            align-items:center;
            margin-right: 12px;
        }
    }
    dd {
        margin:0;
    }
}
.token_sm {
    display: flex;
    justify-content: space-between;
    margin:12px 0;
    font-size: 14px;
    color: @black-color-2;
    dt,dd {
        margin:0;
    }
    dt {
        text-transform: capitalize;

    }
    dd {
        p {
            text-align: right;
            margin:0;
        }
    }
}
.box_icon {
    margin:24px 0;
    display: flex;
    justify-content: center;
}
.box_end {
    margin: 20px 0;
}
.box_tips {
    font-size: 14px;
    padding-bottom: 30px;
    color: #999;
    .tips_b {
        color: #3E2EAF;
        font-weight:bold;
    }
}